/* tektur-regular - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Tektur';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/tektur-v5-cyrillic_latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* tektur-700 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Tektur';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/tektur-v5-cyrillic_latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* tektur-900 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Tektur';
    font-style: normal;
    font-weight: 900;
    src: url('/fonts/tektur-v5-cyrillic_latin-900.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
    width: 100%;
    height: 100%;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    font-family: 'Tektur', Tahoma;

    margin: 0;
    background: #1C1D21;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    width: 100%;
    height: 100%;
    max-width: 1920px;
    max-height: 1080px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    overflow: auto !important;
    -ms-overflow-style: none;
    scrollbar-width: auto;

    overflow-y: scroll;
    scrollbar-color: rgba(14, 14, 24, 0) #73747300;
    -moz-appearance: none !important;
    scrollbar-width: 0px;
}

body>div {
    max-height: 100%;
}

canvas {
    position: fixed;


    left: auto;
    right: 0;
    bottom: 0;

}

.power_wrap {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
    background-color: #fff;
    width: 100px;
    height: 20px;
}

.power_block {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    background-color: red;
}

.score_block {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
    font-size: 30px;
    color: #899cf7;
}

.screens {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 999;
    color: #fff;
    overflow-x: hidden;
    max-width: 1920px;
    max-height: 1080px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.p_screen {
    border: 1px solid #333;
    padding: 20px 20px;
    border-radius: 6px;
    background: rgba(77, 79, 122, 0.8);
}

.screen_btns {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btn_disabled {
    color: #888 !important;
}

a {
    cursor: pointer;
}

.screens>div {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 3;
}

div .hidden_screen {
    display: none;
}

.screens_in_game {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 998;
    color: #fff;
    overflow-x: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
}

.hidden_screens_in_game {
    z-index: 0;
}

.screen_in_game {
    padding: 20px;
    min-width: 300px;
    min-height: 250px;
    background-color: rgba(77, 79, 122, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.hidden_screen_in_game {
    display: none;
}

body .start_screen {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: url('/images/back.jpg')no-repeat;
    padding: 10px;
    box-sizing: border-box;
    padding: 20px 100px;
}

.start_screen_left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.start_screen h1 {
    font-size: 130px;
    margin: 0;
    text-transform: uppercase;
    font-weight: 900;
    color: #f1f0ff;
}

.start_screen h2 {
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0;
    color: #f1f0ff;
}

.start_screen_right {
    max-width: 700px;
}

.start_screen_btn_block {
    border: 2px solid #6358FD;
    background-color: rgba(24, 10, 71, 0.5);
    border-radius: 9px;
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
}

.start_screen_carier_btn_block {

    background: url('/images/back-btn1.jpg');
    background-size: 100%;
    background-position-y: -50px;
}

.start_screen_training_btn_block {
    background: url('/images/back-btn2.jpg');
    background-size: 100%;
    background-position-y: -50px;
}

.start_screen_tutor_btn_block {
    background: url('/images/back-btn3.jpg');
    background-size: 100%;
    background-position-y: -50px;
}

.start_screen_quick_btn_block {
    background: url('/images/back-btn4.jpg');
    background-size: 100%;
    background-position-y: -50px;
}

.start_screen_setting_btn_block {
    background: url('/images/back-btn5.jpg');
    background-size: 100%;
    background-position-y: -50px;
}

.start_screen_btn_block:hover {
    transform: translate(-2px, -2px);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    background-position-y: -100px;
    background-position-x: -50px;
    background-size: 120%;
}


.start_screen_btn_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 700px;
}

.start_screen_btn_flex .start_screen_btn_block {
    max-width: 48%;
}

.start_screen_btn_block span {
    position: absolute;
    bottom: 20px;
    left: 25px;
    font-size: 25px;
    text-transform: uppercase;
    color: #cac7ff;
    transition: 0.3s;
}

.start_screen_btn_block:hover span {
    transform: translate(20px, 0px);

}

.start_screen_btn_flex .start_screen_btn_block span {
    bottom: auto;
    top: 20px;
}

.loader {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
}

.hidden_loader {
    z-index: 0;
}

.serve_player {
    width: 100px;
    height: 20px;
    border-radius: 6px;
    overflow: hidden;
}

.serve_player_in {
    position: absolute;
    height: 100%;
    background-color: red;
}


.quick_choose_players {
    display: flex;
    margin-bottom: 20px;
}

.quick_choose_players>div {
    padding: 20px;
    border: 1px solid #ccc;
    cursor: pointer;
    margin: 0 5px;
}

.quick_choose_opponents {
    display: flex;
    margin-bottom: 20px;
}

.quick_choose_opponents>div {
    padding: 20px;
    border: 1px solid #ccc;
    cursor: pointer;
    margin: 0 5px;
}

.quick_choose_players_active {
    background-color: #555;
}


.pre_carier_screen {
    background: url('/images/back.jpg')no-repeat;
}

.career_teamName {
    margin-bottom: 0px;
}

.carier_main_screen_blocks_wrap {
    display: flex;
    justify-content: space-between;
}

.carier_main_screen_block {
    min-width: 300px;
    border: 1px solid #555;
    padding: 20px 20px;
}

.carier_main_screen_reChar {
    cursor: pointer;
}

.carier_main_screen_reChar.btn_disabled {
    cursor: auto;
}





.carier_screen_calendar_wrap {
    display: flex;
    flex-wrap: wrap;
}

.carier_screen_calendar_head {
    margin-bottom: 20px;
}

.carier_screen_calendar_day {
    width: 13%;
    border: 1px solid #444;
    padding: 10px;
    box-sizing: border-box;
    height: 70px;
}

.calendar_day_have_match {
    background: rgba(70, 70, 70, 1);
}