body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

canvas {
    position: absolute;
    top: 0;
}

.power_wrap {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
    background-color: #fff;
    width: 100px;
    height: 20px;
}

.power_block {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    background-color: red;
}

.score_block {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
    font-size: 30px;
    color: #899cf7;
}

.screens {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 999;
    color: #fff;
    overflow-x: hidden;
}



a {
    cursor: pointer;
}

.screens>div {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 3;
}

div .hidden_screen {
    display: none;
}

.screens_in_game {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 998;
    color: #fff;
    overflow-x: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
}

.hidden_screens_in_game {
    z-index: 0;
}

.screen_in_game {
    padding: 20px;
    min-width: 300px;
    min-height: 250px;
    background-color: rgba(77, 79, 122, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.hidden_screen_in_game {
    display: none;
}

body .start_screen {
    display: flex;
    flex-direction: row;
}

body .start_screen>div {
    border: 1px solid #333;
    height: 250px;
    margin: 0 5px;
    width: 100%;
    max-width: 200px;
    transform: skew(10deg, 0);
    transition: 0.5s;
    border: 3px solid #000;
}

body .start_screen>div:hover {
    transform: skew(10deg, 0) scale(1.1);
    z-index: 1;
}

body .start_screen>div:nth-child(1) a {
    background-color: #ff3939;
}

body .start_screen>div:nth-child(2) a {
    background-color: #3939ff;
}

body .start_screen>div:nth-child(3) a {
    background-color: #3eb93e;
}

body .start_screen>div a {
    display: inline-block;
    background-color: red;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}



.loader {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
}

.hidden_loader {
    z-index: 0;
}

.serve_player {
    width: 100px;
    height: 20px;
    border-radius: 6px;
    overflow: hidden;
}

.serve_player_in {
    position: absolute;
    height: 100%;
    background-color: red;
}


.quick_choose_players {
    display: flex;
    margin-bottom: 20px;
}

.quick_choose_players>div {
    padding: 20px;
    border: 1px solid #ccc;
    cursor: pointer;
    margin: 0 5px;
}

.quick_choose_opponents {
    display: flex;
    margin-bottom: 20px;
}

.quick_choose_opponents>div {
    padding: 20px;
    border: 1px solid #ccc;
    cursor: pointer;
    margin: 0 5px;
}

.quick_choose_players_active {
    background-color: #555;
}